env
youtube_api.ipynb
__pycache__
youtube_data.csv
terraform/.terraform
terraform/terraform.tfstate
terraform/.terraform.lock.hcl
terraform/terraform.tfstate.backup
airflow/logs
airflow/dags/__pycache__

